@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["About"];
}
<h2>@Localizer["About"]</h2>
<h3>@ViewData["Message"]</h3>

<style>
    .logo-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 2em;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<p>
    @Localizer["Match-match animal individuals memory game was created by"]
    <img src="~/images/Polonez Logos.jpg" alt="Polonez logo" class="logo-image" />
</p>

<p>
    @Localizer["Little owls were recorded by Martin Šálek and Pavel Linhart."]
    <img src="~/images/projekt ATHENE.jpg" alt="Projekt ATHENE" class="logo-image" />
</p>

<p>
    @Localizer["The source code is published under"] <a href="https://github.com/JakubLinhart/Mmai/blob/master/LICENSE">MIT license</a>
    @Localizer["and you can download the source code from"]
    <a href="https://github.com/JakubLinhart/Mmai">Github</a>.
</p>

<p>
    Font Awesome Free 5.2.0 by <a href="https://fontawesome.com">fontawesome</a> - [<a href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>], via Wikimedia Commons
</p>

