@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Game"];
}
<style>
    #cards {
        padding: 1em;
        width: 100%;
        height: 100%;
    }

    .card {
        margin: 0.5%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 7%;
        padding-bottom: 11.1%;
        width: 20%;
        float: left;
        color: white;
        border: 5px solid white;
    }

    .species-name {
        font-weight: bold;
    
    }
    .cardRow {
        clear: both;
    }

    .cardPeeking {
        background-color: rgb(128, 128, 255);
    }

    .cardMismatch {
        background-image: url(/images/thumbs-down.svg);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cardMatch {
        background-image: url(/images/thumbs-up.svg);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cardCovered {
        background-color: red;
    }

    .cardUncovered {
        background-color: blue;
    }

    .cardPlaying {
        border: green;
        border-width: 5px;
        border-style: solid;
    }


    .row {
        clear: both;
    }

    .hidden {
        visibility: collapse;
    }

    .player-form {
        padding-top: 1em;
        padding-bottom: 1em;
    }
</style>

<div id="pre-game">
    <h2>
        @Localizer["Game"]
    </h2>
    <p>
        @Localizer["Welcome to the acoustic memory game Match-Match Animal Individuals!"]
    </p>

    <p>
        @Localizer["After clicking on a card you will hear a call from an individual animal."]
    </p>

    <p>
        @Localizer["Choose your game:"]
        <a href="/Home/Index/littleowl">@Localizer["Little Owl"]</a>,
        <a href="/Home/Index/3vars">@Localizer["Sleepy UFO Owl"]</a>,
        <a href="/Home/Index/10vars">@Localizer["Drunken UFO Owl"]</a>,
        <a href="/Home/Index/hs33-10vars">@Localizer["Common UFO Owl"]</a>,
        <a href="/Home/Index/hs33-10vars-long">@Localizer["Lazy UFO Owl"]</a>.
    </p>

    <p>
        @Localizer["In this game, you will hear the territorial calls of"]

        <span class="species-name"></span>.
    </p>
</div>

<div id="cards">
    <div class="cardRow">
        <div id="card0" class="card cardCovered cardMismatch"></div>
        <div id="card1" class="card cardCovered cardMatch"></div>
        <div id="card2" class="card cardCovered"></div>
        <div id="card3" class="card cardCovered"></div>
    </div>
    <div class="cardRow">
        <div id="card5" class="card cardCovered"></div>
        <div id="card6" class="card cardCovered"></div>
        <div id="card7" class="card cardCovered"></div>
        <div id="card8" class="card cardCovered"></div>
    </div>
    <div class="cardRow">
        <div id="card9" class="card cardCovered"></div>
        <div id="card10" class="card cardCovered"></div>
        <div id="card11" class="card cardCovered"></div>
        <div id="card12" class="card cardCovered"></div>
    </div>
    <div class="cardRow">
        <div id="card13" class="card cardCovered"></div>
        <div id="card14" class="card cardCovered"></div>
        <div id="card15" class="card cardCovered"></div>
        <div id="card16" class="card cardCovered"></div>
    </div>
</div>

<div id="finished-game" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>@Localizer["Game finished"]</h2>
            </div>
            <div class="modal-body">
                <p>
                    @Localizer["Well done! You matched all individuals of"] <b class="species-name"></b>.
                </p>

                <p>
                    @Localizer["You have finished the game in"] <b id="stats-current-turns"></b> @Localizer["turns"].
                </p>
                <p>
                    @Localizer["The best result for this game was"] <b id="stats-best-turns"></b> @Localizer["turns"].
                </p>
                <p>
                    @Localizer["Your result was better than the result achieved by"] <b id="stats-better-than-percentage"></b> @Localizer["percent of players"].
                </p>

                <div class="player-form">
                    <div class="form-group">
                        <label for="nickname">@Localizer["Enter your nick name to identify your games"]:</label>
                        <input type="text" name="nickname" id="nickname" class="form-control" placeholder="Nickname" width="64" style="max-width:32em" />
                    </div>
                </div>
                <p>
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="next-game btn btn-info btn-sm" data-dismiss="modal">@Localizer["Try again"]</a>
                <a href="#" class="btn btn-info btn-sm" data-dismiss="modal">@Localizer["Close"]</a>
            </div>
        </div>
    </div>
</div>

<div id="try-again" class="hidden">
    <a href="#" class="next-game btn btn-info btn-sm">@Localizer["Try again"]</a>
</div>

<script>
    startGame('@ViewData["speciesId"]');
</script>