@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Game"];
}
<style>
    #cards {
        margin-left: 1em;
    }

    .card {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        width: 100px;
        height: 100px;
        float: left;
        color: white;
        text-align: center;
        vertical-align: central;
        hyphens: manual;
    }

    .cardPeeking {
        background-color: rgb(128, 128, 255);
    }

    .cardCovered {
        background-color: red;
    }

    .cardUncovered {
        background-color: blue;
    }

    .cardPlaying {
        border: green;
        border-width: 5px;
        border-style: solid;
    }


    .row {
        clear: both;
    }

    .hidden {
        visibility: collapse;
    }

    .player-form {
        padding-top: 1em;
        padding-bottom: 1em;
    }
</style>

<div id="pre-game">
    <h2>
        @Localizer["Game"]
    </h2>
    <p>
        @Localizer["Welcome to the acoustic memory game Match-Match Animal Individuals!"]
    </p>

    <p>
        @Localizer["After clicking on a card you will hear a call from an individual animal."]
    </p>

    <p>
        @Localizer["In this game, you will hear the territorial calls of"]
        
        <span class="species-name"></span>.
    </p>
</div>

<div id="cards">
    <div class="row">
        <div id="card0" class="card"></div>
        <div id="card1" class="card"></div>
        <div id="card2" class="card"></div>
    </div>
    <div class="row">
        <div id="card3" class="card"></div>
        <div id="card4" class="card"></div>
        <div id="card5" class="card"></div>
    </div>
    <div class="row">
        <div id="card6" class="card"></div>
        <div id="card7" class="card"></div>
        <div id="card8" class="card"></div>
    </div>
    <div class="row">
        <div id="card9" class="card"></div>
        <div id="card10" class="card"></div>
        <div id="card11" class="card"></div>
    </div>
</div>

<div id="finished-game" class="hidden">
    <h2>@Localizer["Game finished"]</h2>
    <p>
        @Localizer["Well done! You matched all individuals of"] <b class="species-name"></b>.
    </p>

    <p>
        @Localizer["You have finished the game in"] <b id="stats-current-turns"></b> @Localizer["turns"].
    </p>
    <p>
        @Localizer["The best result for this game was"] <b id="stats-best-turns"></b> @Localizer["turns"].
    </p>
    <p>
        @Localizer["Your result was better than the result achieved by"] <b id="stats-better-than-percentage"></b> @Localizer["percent of players"].
    </p>

    <div class="player-form">
        <div class="form-group">
            <label for="nickname">@Localizer["Enter your nick name to identify your games"]:</label>
            <input type="text" name="nickname" id="nickname" class="form-control" placeholder="Nickname" width="64" style="max-width:32em" />
        </div>
        <div class="form-group">
            <label for="email">
                @Localizer["Enter your email"]:
            </label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Email" width="64" style="max-width:32em" />
        </div>
    </div>
    <p>
        <a href="#" id="next-game">@Localizer["Try again"]!</a>
    </p>
</div>

<script>
    startGame("nextrandom");
</script>

